.container {
    display: flex;
    flex-flow: row nowrap;
    margin: 24px auto;
    max-width: 640px;
}

#model {
    height: 512px;
    position: relative;
    width: 256px;

    #pantsImg,
    #shirtImg,
    #shoesImg {
        left: 0;
        position: absolute;
        top: 0;
    }

    #pantsImg {
        left: 81px;
        top: 233px;
    }

    #shirtImg {
        left: 67px;
        top: 95px;
    }

    #shoesImg {
        left: 84px;
        top: 450px;
    }

}

#sliderPicker {
    border: solid 2px #999;
    border-radius: 8px;
    font: normal 14px/1.2 sans-serif;
    height: auto;
    margin-top: 80px;
    max-height: 250px;
    padding: 24px;

    p {
        font-size: 18px;
        font-weight: bold;
        line-height: 2;
    }

    ul[id="colorTarget"] {
        display: flex;
        flex-flow: row nowrap;
        list-style: none;
        margin: 0 0 12px;
        padding: 0;

        li {
            margin-right: 1em;
        }
    }
}
